<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="jumbotron jumbotron-fluid text-center mb-0">
  <h3>Your current patients</h3>
  <a class="btn btn-primary mt-2" href="/patients/new">Add new patient</a>
</div>
<div class="container content">
  <div class="patient-grid">
    <div class="row">
      <% for(let i = 0; i < patients.length; i++) { %>
      <% let patient = patients[i] %>
      <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card border-danger">
          <div class="card-header"><%= patient.ward %></div>
          <img class="card-img-top" src="<%= patient.photo %>" alt="Patient Photo">
          <div class="card-body">
            <h5 class="card-title"><%= patient.name %></h5>
            <p class="card-text"><%= patient.diagnosis %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Admitted on: <%= patient.admitted.toDateString() %></small>
            <div class="mt-2">
              <a class="btn btn-sm btn-block btn-info">View</a>
              <a class="btn btn-sm btn-block btn-warning">Edit</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<% include partials/scripts %>
<% include partials/footer %>
