<% include ../partials/header %>
  <div class="container content">
    <div class="text-center mb-4">
      <h1>All Patients</h1>
    </div>
    <div class="patient-grid">
      <div class="row">
        <% for(let i = 0; i < patients.length; i++) { %>
        <% let patient = patients[i] %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
          <div class="card border-danger">
            <div class="card-header"><%= patient.ward %></div>
            <img class="card-img-top" src="<%= patient.photo %>" alt="Patient Photo">
            <div class="card-body">
              <h5 class="card-title"><%= patient.name %></h5>
              <p class="card-text"><%= patient.diagnosis %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Admitted on: <%= patient.admitted.toDateString() %></small>
              <div class="mt-2">
                <a class="btn btn-sm btn-block btn-danger" href="/patients/<%= patient._id %>">View</a>
                <% if(currentUser && patient.doctor.id.equals(currentUser._id)) { %>
                <a class="btn btn-sm btn-block btn-warning" href="/patients/<%= patient._id %>/edit">Edit</a>
                <% } else { %>
                <a class="btn btn-sm btn-block btn-warning disabled" href="/patients/<%= patient._id %>/edit">Edit</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

<% include ../partials/scripts %>
<% include ../partials/footer %>
