<% include ../partials/header %>
  <link rel="stylesheet" href="/stylesheets/show_patient.css">

  <div class="container content">
    <div class="card border-danger mb-4">
      <h5 class="card-header bg-danger text-white"><%= patient.name %></h5>
      <div class="row">
        <div class="col-md-3">
          <div class="img-section">
            <img class="card-img" src="<%= patient.photo %>" alt="Patient's photo">
            <% if(currentUser && patient.doctor.id.equals(currentUser._id)) { %>
            <a class="mt-4 btn btn-sm btn-block btn-warning" href="/patients/<%= patient._id %>/edit">Edit</a>
            <% } %>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body text-section">
            <ul class="list-unstyled">
              <li><p class="card-text"><strong>Name:</strong> <%= patient.name %></p></li>
              <li><p class="card-text"><strong>Age:</strong> <%= patient.age %></p></li>
              <li><p class="card-text"><strong>Gender:</strong> <%= patient.gender %></p></li>
            </ul>
            <ul class="list-unstyled">
              <li><p class="card-text"><strong>Doctor:</strong> <%= patient.doctor.name %></p></li>
              <li><p class="card-text"><strong>Ward:</strong> <%= patient.ward %></p></li>
              <li><p class="card-text"><strong>Admitted on:</strong> <%= patient.admitted.toDateString() %></p></li>
            </ul>
            <p><strong>Diagnosis:</strong> <%= patient.diagnosis %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-danger mb-2 log-section">
      <h5 class="card-header bg-danger text-white col-12">Patient Logs</h5>
      <ul class="list-group list-group-flush">
        <% for(let i = 0; i < patient.logs.length; i++) { %>
        <% let log = patient.logs[i] %>
        <li class="list-group-item list-group-item-primary">
          <p><%= log.content %></p>
          <small class="text-muted">Submitted by: <%= log.submittedBy.name %></small><br>
          <small class="text-muted"><%= log.createdAt.toDateString() %>, <%= log.createdAt.toLocaleTimeString() %></small>
          <% if(currentUser && log.submittedBy.id.equals(currentUser._id)) { %>
          <a href="/patients/<%= patient._id %>/logs/<%= log._id %>/edit"><i class="fa fa-edit float-right text-danger"></i></a>
          <% } %>
        </li>
        <% } %>
      </ul>
    </div>
    <form class="mb-4" action="/patients/<%= patient._id %>/logs" method="POST">
      <textarea type="text" class="form-control" name="content" rows="2" resize="false" placeholder="New entry"></textarea>
      <button class="btn btn-danger btn-block mt-2" type="submit">Submit</button>
    </form>
  </div>

<% include ../partials/scripts %>
<% include ../partials/footer %>
