<% include ../partials/header %>

<div class="containter content">
  <div class="text-center">
    <h1>Edit Patient Log</h1>
  </div>
  <form class="mx-auto mt-4 col-12 col-md-8 col-lg-6" action="/patients/<%= patient._id %>/logs/<%= log._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="log"><em><%= patient.name %> on <%= log.createdAt.toDateString() %>, <%= log.createdAt.toLocaleTimeString() %></em></label>
      <textarea type="text" class="form-control" name="content" rows="3"><%= log.content %></textarea>
    </div>
    <button class="btn btn-danger btn-block" type="submit">Edit</button>
  </form>
  <form class="mx-auto mt-2 mb-4 col-12 col-md-8 col-lg-6" action="/patients/<%= patient._id %>/logs/<%= log._id %>?_method=DELETE" method="POST">
    <button class="btn btn-warning btn-block" type="submit">Delete</button>
  </form>
</div>

<% include ../partials/scripts %>
<% include ../partials/footer %>
